.menu {
  list-style-type: none;
  position: absolute;
  cursor: pointer;
  left: calc(50% - var(--question_list_width)/2 - 227.5px);
  color: white;
  margin-top: -1px;
  transform: translateX(calc(-1*var(--translate_len)));
}

.menu_item {
  font-size: 19px;
  list-style-type: none;
  padding-right: 15px;
  margin-left: -13px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  margin-top: 5px;
  border-radius: 0 7px 7px 0; /* creating a straight edge for showing the selected area */
  background-color: transparent;
  position: relative;
  overflow: hidden;
}

.menu_item:hover {
  background-color: rgba(163, 47, 128, 0.397);
}

.menu_item:hover::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 5px;
  background-color: var(--secondary-color);
}

.on-page {
  font-size: 19px;
  list-style-type: none;
  padding-right: 15px;
  margin-left: -13px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  margin-top: 5px;
  border-radius: 0 7px 7px 0; /* creating a straight edge for showing the selected area */
  /* background-color: rgba(163, 47, 128, 0.15); */
  position: relative;
  overflow: hidden;
}

.on-page::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 5px;
  background-color: var(--secondary-color);
}

.on-page:hover {
  background-color: rgba(163, 47, 128, 0.397);
}

.on-page:hover::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 5px;
  background-color: var(--secondary-color);
}

@media only screen and (max-width: 1400px){
   .menu {
display: none;   
}
}
 .question_box {
     font-family: 'Lexend';
     height: fit-content;
     background-color: #363636ff;
     border-radius: 6px;
     width: 100%;
     color: white;
     border: 1.5px solid var(--border-color);
     padding: 10px;
     font-size: 17px;
     margin-top: 15px;
     /* margin-left: calc(50% - 473px); */
 }

 .instructions {
    color: white;
    font-size: 22px;
    margin-left: calc(50% - 473px);
    margin-top: 15px;
    width: fit-content;
 }

 .back_button {
    position: absolute;
    color: white;
    top: 57px;
    left: calc(50% - 473px);
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
    font-size: 18px;
}

.back_button::before {
    margin-right: 3px;
    content: '\2039';
    font-size: 18px;
}

.back_button:hover {
    transform: scale(1.06);
}

.buttons {
  position: relative;
  padding: 12px;
  font-size: 15px;
  height: 40px;
  width: 947.5px;
  background-color: var(--primary-color);
  outline: none;
  cursor: pointer;
  margin: auto;
  left: calc(50% - 473px);
}

/* for dropdown */

.dropdown {
  position: relative;
  margin-top: 15px;
  margin-left: 20px;
  width: 200px;
  z-index: 5;
}

.dropbtn {
  font-family: 'Lexend';
  background-color: #363636ff;
  color: white;
  padding: 10px;
  font-size: 10pt;
  cursor: pointer;
  border: 1.5px solid var(--border-color);
  border-radius: 5px;
  height: 44px;
  transition: 0.2s;
  width: 200.5;  /* margin-top: 15px; */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #363636ff;
  width: 187.5;
  font-size: 8pt;
  box-shadow: 0px 8px 16px 0px var(--secondary-color);
  z-index: 1;
  border: 1.5px solid var(--border-color);
  border-radius: 5px;
  top: 100%;
  left: 0;
  transform: translateY(1px);
}
.dropdown-content.block-above {
  bottom: 100%;
}

.dropdown-content a {
  color: white;
  padding: 8.75px 16px;
  text-decoration: none;
  display: block;
  font-size: 9.5pt;
}

.dropdown-content a:hover {
  background-color: #5e5e5eff;
}

.dropbtn::after {
    margin-left: 7px;
    content: '\203A';
    font-size: 22px;
    transform: translateY(-1.5px);
}

.rotate-after::after {
    transform: rotate(90deg) translateY(-4px) translateX(1px);
}
.title{
  display: flex;
  max-width: 965px;
  margin-left: calc(50% - 473px);
}
.comments_box {
  font-family: 'Lexend';
  font-size: 15px;
  color: white;
  width: 920px;
  height: 300px;
  margin-top: 15px;
  margin-left: calc(50% - 473px);
  border: 1.5px solid var(--border-color);
  border-radius: 6px;
  background-color: #363636ff;
  padding: 12px;
  padding-top: 9px;
  padding-bottom: 9px;
  resize: none;
}
h1{
font-size: 40pt;
  color: var(--text-color);
  margin-left: calc(50% - 473px);

}
@media only screen and (max-width: 1050px) {

.dropdown {
  margin-left: 20px;
}
.title{
  width: calc(100%-150px);
  margin-right: 42.5px;
  margin-left: 8px;
}
.instructions {
  margin-left: 50px;
}
.question_box {
  margin-left: 45px;
}
h1{
  margin-left: 50px;
}
.comments_box {
  margin-left: 50px;
  width: calc(100% - 130px);
}

.buttons {
  left: 50px;
  width: calc(100% - 104px);
}

}

