.menu {
  list-style-type: none;
  position: absolute;
  cursor: pointer;
  left: calc(50% - var(--question_list_width)/2 - 227.5px);
  color: white;
  margin-top: -1px;
  transform: translateX(calc(-1*var(--translate_len)));
}

.menu_item {
  font-size: 19px;
  list-style-type: none;
  padding-right: 15px;
  margin-left: -13px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  margin-top: 5px;
  border-radius: 0 7px 7px 0; /* creating a straight edge for showing the selected area */
  background-color: transparent;
  position: relative;
  overflow: hidden;
}

.menu_item:hover {
  background-color: rgba(163, 47, 128, 0.397);
}

.menu_item:hover::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 5px;
  background-color: var(--secondary-color);
}

.on-page {
  font-size: 19px;
  list-style-type: none;
  padding-right: 15px;
  margin-left: -13px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  margin-top: 5px;
  border-radius: 0 7px 7px 0; /* creating a straight edge for showing the selected area */
  /* background-color: rgba(163, 47, 128, 0.15); */
  position: relative;
  overflow: hidden;
}

.on-page::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 5px;
  background-color: var(--secondary-color);
}

.on-page:hover {
  background-color: rgba(163, 47, 128, 0.397);
}

.on-page:hover::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 5px;
  background-color: var(--secondary-color);
}

@media only screen and (max-width: 1400px){
   .menu {
display: none;   
}
}

.HelpTXT {
    color: white;
    text-align: center;
    margin-top: 50px;
    font-size: 40px;
}

/* ↓↓↓ basically same as our team page */

details > summary {
  font-size: 20px;
  color: white;
  padding: 9px;
  border: none;
  cursor: pointer;
  display: block;
  margin-top: 10px;
}

details > p {
  padding: 4px;
  margin: 0;
  color: white;
}

.FAQ_text {
    text-align: center;
    color: white;
    font-size: 20px;
    margin-bottom: 35px;
    text-decoration: underline;
}

summary::after {
  margin-left: 1ch;
  display: inline-block;
  transition: 0.2s;
  content: '\203A'; /* chevron */
}

details[open] summary::after {
  transform: rotate(90deg);
}

details summary::-webkit-details-marker {
  display:none;
}

.sidenote {
    color: white;
    text-align: center;
    margin-top: 15px;
}

.container{
    width: 1000px;
    height: auto;
    background-color: var(--header-color);
    opacity: 0.95;
    margin: auto;
    margin-top: 50px;
    flex-direction: column;
    border-radius: .5rem;
    box-shadow: 0 1rem 2rem #000000;
    padding: 20px;
    border-radius: 50px 50px 10px 10px;
  }

hr.line {
  border-top: 0.5px solid var(--secondary-color);
  border-bottom: 0.5px solid var(--secondary-color);
  border-right: 0.5px solid var(--secondary-color);
  border-left: 0.5px solid var(--secondary-color);
}

@media only screen and (max-width: 1200px) {
    .container {
        width: calc(100% - 235px);
        margin-left: 100px;
        margin-right: 100px;
    }
}