:root{ /*setting color variables incase we want to switch color scheme*/
   --primary-color:#113265ff;
   --background-color:#08162bff;
   --header-color:#242424ff;
   --text-box-bar-color: #424242ff;
   --secondary-color:#a32f80ff;
   --border-color: #474b4eff;
   --text-color:white;
   --ask-question-button: #2c74b3ff;
   --question_list_width: 1000px;
   --translate_len: -15px;
}


.HelpTXT {
    color: white;
    text-align: center;
    margin-top: 50px;
    font-size: 40px;
}

/* ↓↓↓ basically same as our team page */

details > summary {
  font-size: 20px;
  color: white;
  padding: 9px;
  border: none;
  cursor: pointer;
  display: block;
  margin-top: 10px;
}

details > p {
  padding: 4px;
  margin: 0;
  color: white;
}

.FAQ_text {
    text-align: center;
    color: white;
    font-size: 20px;
    margin-bottom: 35px;
    text-decoration: underline;
}

summary::after {
  margin-left: 1ch;
  display: inline-block;
  transition: 0.2s;
  content: '\203A'; /* chevron */
}

details[open] summary::after {
  transform: rotate(90deg);
}

details summary::-webkit-details-marker {
  display:none;
}

.sidenote {
    color: white;
    text-align: center;
    margin-top: 15px;
}

.container{
    width: 1000px;
    height: auto;
    background-color: var(--header-color);
    opacity: 0.95;
    margin: auto;
    margin-top: 50px;
    flex-direction: column;
    border-radius: .5rem;
    box-shadow: 0 1rem 2rem #000000;
    padding: 20px;
    border-radius: 50px 50px 10px 10px;
  }

hr.line {
  border-top: 0.5px solid var(--secondary-color);
  border-bottom: 0.5px solid var(--secondary-color);
  border-right: 0.5px solid var(--secondary-color);
  border-left: 0.5px solid var(--secondary-color);
}

@media only screen and (max-width: 1200px) {
    .container {
        width: calc(100% - 235px);
        margin-left: 100px;
        margin-right: 100px;
    }
}