:root{ /*setting color variables incase we want to switch color scheme*/
   --primary-color:#113265ff;
   --background-color:#08162bff;
   --header-color:#242424ff;
   --text-box-bar-color: #424242ff;
   --secondary-color:#a32f80ff;
   --border-color: #474b4eff;
   --text-color:white;
   --ask-question-button: #2c74b3ff;
}
/* Creates a standard for an object being centered */
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
   overflow: hidden;
   font-family: 'Lexend', sans-serif;
   background-color: var(--background-color);
   margin: 0;
   padding: 0;
 }


 #topbar {
   background-color: var(--header-color);
   width: 100%;
   height: 43px;
   display: flex; /* Use flexbox to position elements within #topbar */
   align-items: center; /* Vertically center elements within #topbar */
 }


#logo {
  height: 115%;
  margin-top: -1px;
  margin-left: 9px;
  cursor: pointer; /* Change the cursor to a pointing hand */
}

 .button {/*setting main button object*/
   font-family: 'Lexend', sans-serif;
   border: none;
   color: white;
   padding: 6.5px 17px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 14px;
   cursor: pointer;
   border-radius: 6px;
 }

 .login-button {/*sub-class of button*/
   margin-right: 14px;
   background-color: var(--primary-color)
 }
 .signup-button {
    margin-right: 18px;
    background-color: var(--secondary-color);

 }
 /* Add styles for search bar */
 .search-bar {
     font-family: 'Lexend';
     flex-grow: 1; /* Allow search bar to grow and fill available space */
     margin-left: -10px; /* Add space between search bar and logo */
     margin-right: 18px; /* Add space between search bar and login button */
     height:30.5px; /* Set height of search bar */
     background-color: #363636ff; /* Set background color of search bar to gray */
     border-radius: 6px;
     color: white;
     padding-left: 13px;
     padding-right: 140px;
     border: 1.5px solid var(--border-color); /* Add white border around search bar */
 }
 .search-bar::placeholder {
   font-family: 'Lexend'; /* Set font of placeholder text to Lexend */
   color: white;
 }
 .search-bar::-webkit-search-cancel-button {
   display: none;
 }

 /* Remove red border that appears when clicking on search bar */
 .search-bar:focus {
     outline: none;
 }

.ask-question-button {
  margin-left: calc(100vw - 345px);
  height: 20px;
  width: 124px;
  background-color: var(--ask-question-button);
  position: absolute;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
}

 .box {/*setting generic box details*/
   background-color: var(--primary-color);
   border-radius: 22px;
 }
   .important_box {/*sub class of box*/
     position: absolute;
     height: 240px;
     width: 165px;
     margin-top: -32px;
     margin-left: calc(100% - 185px);
     background-color: var(--secondary-color);
   }

   #important_box_nums {
        font-size: 22px;
        color: white;
        position: relative;
        text-align: center;
        margin-top: 16px;
   }

  #important_box_text {
        font-size: 12px;
        color: white;
        position: relative;
        text-align: center;
    }

  #sign_up_as_tutor_button {
    color: white;
    font-family: Lexend;
    background-color: black;
    border: none;
    height: 35px;
    width: 140px;
    border-radius: 7px;
    position: absolute;
    inset: 175px 0 0 0;
    margin: auto;
    cursor: pointer;
  }



.questions_list {/*scroll area with questions. It is invisible*/
       overflow-y: scroll;
       overflow-x: hidden;
       max-height: calc(100vh - 215px);
       margin-top: 15px;
       margin-right: 215px;
    }

    .questions_list::-webkit-scrollbar {/*custom scroll bar width*/
       width: 13px; /* Adjust the width as needed */
    }

    .questions_list::-webkit-scrollbar-thumb {/*custom scroll bar thumb(the scrolling thing)*/
       width: 12px; /* Set the width of the thumb to 12px */
       min-width: 12px; /* Ensure the minimum width of the thumb */
       background-color: var(--text-box-bar-color);
       border-radius: 2px;
    }

   .text_box {/*question subclass of box*/
     height: 120px;
     margin-bottom: 15px;
     margin-left: 190px;
     margin-right: 10px;
     position: relative;
    }

    #text_box_pfp {
      height: 50px;
      margin-top: 15px;
      margin-left: 15px;
    }

    #text_box_question_content {
      position: absolute;
      top: 15px;
      left: 77px;
      font-size: 20px;
      color: white;
    }

    #asked_by_line {
        position: absolute;
        top: 47px;
        left: 77px;
        color: white;
        font-size: 13px;
    }

    #answered_by_line {
        color: white;
        font-size: 14px;
        margin-top: 13px;
        margin-left: 25px;
    }

    .question_stats {
        position: absolute;
        color: white;
        font-size: 17px;
        right: 25px;
        top: 5px;
        text-align: right;
    }

    #question_stats_items {
        position: relative;
        margin-top: 10px;
    }

   .question_header {/*divider based on subject*/
     color: white;
     padding-left: 7px;
     padding-top: 4px;
     height: 25px;
     margin-top: 15px;
     margin-left: 190px;
     margin-right: 215px;
     background-color: var(--text-box-bar-color);
     border: 1.5px solid var(--border-color);
 }

.menu {
  /* page menu */
  list-style-type: none;
  position: absolute;
  color: white;
  margin-top: 0px;
  cursor: pointer; /* Change the cursor to a pointing hand */
}

.menu_item {
  font-size: 19px;
  list-style-type: none;
  padding-right: 15px;
  margin-left: -13px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  margin-top: 5px;
  border-radius: 0 7px 7px 0; /* creating a straight edge for showing the selected area */
  background-color: transparent;
  position: relative;
  overflow: hidden;
}

.menu_item:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.menu_item:hover::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 5px;
  background-color: white;
}

.menu {
  /* page menu */
  list-style-type: none;
  position: absolute;
  color: white;
  margin-top: 0px;
}

.on-page {
  font-size: 19px;
  list-style-type: none;
  padding-right: 15px;
  margin-left: -13px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  margin-top: 5px;
  border-radius: 0 7px 7px 0; /* creating a straight edge for showing the selected area */
  background-color: rgba(163, 47, 128, 0.15);
  position: relative;
  overflow: hidden;
}

.on-page::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 5px;
  background-color: var(--secondary-color);
}

.on-page:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.on-page:hover::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 5px;
  background-color: white;
}

   .semicircle-button {
       position: absolute;
       height: 127px;
       width: 127px;
       top: 40vh;
   }

   #semicircle-right {
        margin-left: calc(100% - 225px);
   }

   #semicircle-left {
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        margin-left: 65px;
   }

@media only screen and (max-width: 1150px) {
  .semicircle-button {
    display: none;
  }

  .important_box {/*sub class of box*/
     display: none;
   }

   .question_header {/*divider based on subject*/
     margin-right: 40px;
 }

  .questions_list {/*scroll area with questions. It is invisible*/
       margin-right: 40px;
    }
}

@media only screen and (max-width: 1000px) {

  .menu {
    display: none;
  }

 .question_header {/*divider based on subject*/
     margin-left: 40px;
 }

  .text_box {
    margin-left: 40px;
  }
}

