:root{
    --primary-color:#113265ff;
    --background-color:#08162bff;
    --header-color:#242424ff;
    --secondary-color:#a32f80ff;
    --text-color:white;

}
body {
    font-family: 'Lexend', sans-serif;
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
  }
  #topbar {
    background-color: var(--header-color);
    width: 100%;
    height: 43px;
    display: flex; /* Use flexbox to position elements within #topbar */
    align-items: center; /* Vertically center elements within #topbar */
  }
  #logo {
    height: 115%;
    margin-top: -1px;
    margin-left: 9px;
  }
  .button {
    font-family: 'Lexend';
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 6.5px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-right: 11px;
    cursor: pointer;
    border-radius: 6px;
  }
  #login-button {
    margin-right: 11px;
    background-color: var(--primary-color)
  }
  #signup-button {
     background-color: var(--secondary-color)
  }
  /* Add styles for search bar */
  #search-bar {
      font-family: 'Lexend';
      flex-grow: 1; /* Allow search bar to grow and fill available space */
      margin-left: -10px; /* Add space between search bar and logo */
      margin-right: 30px; /* Add space between search bar and login button */
      height:30.5px; /* Set height of search bar */
      background-color: #363636ff; /* Set background color of search bar to gray */
      border-radius: 6px;
      color: white;
      padding-left: 13px;
      border: 1.5px solid #474b4eff; /* Add white border around search bar */
  }
  #search-bar::placeholder {
    font-family: 'Lexend'; /* Set font of placeholder text to Lexend */
    color: white;
  }
  #search-bar::-webkit-search-cancel-button {
    display: none;
  }

  /* Remove red border that appears when clicking on search bar */
  #search-bar:focus {
      outline: none;
  }
  .rectangle {
  height: 50px;
  width: 100px;
  background-color: #555;
  margin-top: 18px;
  margin-left: 800px;
  }
