.our_team_text {
    color: white;
    padding: 7px;
    font-size: 40px;
    text-align: center;
    margin-top: 40px;
    box-shadow: 0 1rem 2rem #000000;
    text-decoration: underline;
}
.page-heading{
  margin-left: calc(50% - 125px);
  background-color: var(--primary-color);
  width: 250px;
  border-radius: 10px;
}


details > summary {
  font-size: 23px;
  color: white;
  padding: 9px;
  border: none;
  cursor: pointer;
  display: block;
  margin-top: 10px;
}

details > p {
  padding: 4px;
  margin: 0;
  color: white;
}


summary::after {
  margin-left: 1ch;
  display: inline-block;
  transition: 0.2s;
  content: '\203A'; /* chevron */
}

details[open] summary::after {
  transform: rotate(90deg);
}

details summary::-webkit-details-marker {
  display:none;
}

.container{
    width: 100%;
    height: auto;
    background-color: var(--header-color);
    opacity: 0.95;
    margin-top: 50px;
    flex-direction: column;
    border-radius: .5rem;
    box-shadow: 0 1rem 2rem #000000;
    padding: 20px;
    padding-right: 0;
  }
.full-text{
  width: 1000px;
  margin: auto;
  padding: 0;
}
.sidenote {
    color: white;
    text-align: center;
    margin-top: 40px;
}

hr.line {
  border-top: 0.5px solid var(--secondary-color);
  border-bottom: 0.5px solid var(--secondary-color);
  border-right: 0.5px solid var(--secondary-color);
  border-left: 0.5px solid var(--secondary-color);
}
.box{
  border-radius: 10px;
  background-color: var(--secondary-color);
  width: 300px;
  color: var(--text-color);
  box-shadow: 0 1rem 2rem #000000;
  padding-left: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-top: 20px ;
}
.leadership{
  width: 180px;
}
.staff{
  width: 90px;
  margin-top: 50px;
  margin-left: auto;
  text-align: right;
  padding-right: 20px;
}
.application{
  align-items: center;
  height: 60px;
  font-size: 20px;
}
.application-text{
  padding: 15px;
}
.link{
  color: var(--text-color);
}
.info{
  color: var(--text-color);
  max-width: 60%;
  padding: 5%;
  padding-top: 0;
}
.details{
  display: flex;
}
.pic{
  border: 3px solid var(--secondary-color);
  width: 30%;
  height: auto;
  overflow: hidden;
}
@media only screen and (max-width: 1200px) {
    .full-text {
        width: auto;
        margin-left: 80px;
        margin-right: 80px;
    }
}