.question-text {
    color: white;
    font-size: 37.5px;
    text-align: center;
    margin-top: 15px;
}

hr.line {
  margin-top: 15px;
  border-top: 0.5px solid var(--secondary-color);
  border-bottom: 0.5px solid var(--secondary-color);
  border-right: 0.5px solid var(--secondary-color);
  border-left: 0.5px solid var(--secondary-color);
  width: calc(100% - 40px);
}