/* this stuff will stay common from page to page */
:root{ /*setting color variables incase we want to switch color scheme*/
    --primary-color:#113265ff;
    --background-color:#08162bff;
    --header-color:#242424ff;
    --text-box-bar-color: #424242ff;
    --secondary-color:#a32f80ff;
    --border-color: #474b4eff;
    --text-color:white;
    --ask-question-button: #2c74b3ff;
 }
 /* Creates a standard for an object being centered */
 .center{
     display: flex;
     justify-content: center;
     align-items: center;
 }
 
 body {
   font-family: 'Lexend', sans-serif;
   background-color: var(--background-color);
   margin: 0;
   padding: 0;
   overflow-x: hidden;
 }
  .profileButton{
    width: 170px;
    margin-right: 10px;
    margin-top: 2px;
    height: 30.5px;
    background-color: var(--primary-color);
    border-radius: 6px;
    align-items:center;
    transition: transform 0.3s ease-in-out;

  }
  .usernameOnProfileButton{
    max-width: 100px;
    padding-left: 50px;
    margin-top:-27px;
    /* padding-bottom: 10px; */
    text-align: top;
    color: var(--text-color);
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap:none;
    cursor: pointer;
  }
  .profilePicHome{
    margin-top: 2.5px; 
    margin-left: 15px;
    margin-right: 130px;
    width:25px;
    height: 25px;
    align-items: center;
    border-radius: 6px;
    cursor: pointer;
  }
  .profileButton:hover{
    transform: scale(1.06);
    box-shadow: 0 10 10 black;
  }
  .center{
    display: flex;
    justify-content: center;
    align-items: center;
}

 #topbar {
   background-color: var(--header-color);
   width: 100%;
   height: 43px;
   display: flex; /* Use flexbox to position elements within #topbar */
   align-items: center; /* Vertically center elements within #topbar */
 }


#logo {
  height: 115%;
  margin-top: -1px;
  margin-left: 9px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

#logo:hover {
    transform: scale(1.06);
}

 .button {/*setting main button object*/
   font-family: 'Lexend', sans-serif;
   border: none;
   color: white;
   padding: 6.5px 17px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 14px;
   cursor: pointer;
   border-radius: 6px;
 }

 .login-button {/*sub-class of button*/
   margin-right: 8px;
   background-color: var(--primary-color);
   transition: transform 0.3s ease-in-out;
 }

  .login-button:hover {
    transform: scale(1.06);
  }

 .signup-button {
    margin-right: 12px;
    background-color: var(--secondary-color);
    transition: transform 0.3s ease-in-out;
 }

 .signup-button:hover {
    transform: scale(1.06);
  }

 .search-bar {
     font-family: 'Lexend';
     flex-grow: 1;
     margin-left: -10px;
     margin-right: 30px;
     height: 30.5px;
     background-color: #363636ff;
     border-radius: 6px;
     color: white;
     padding-left: 13px;
     padding-right: 140px;
     border: 1.5px solid var(--border-color);
 }

 .search-bar::placeholder {
   font-family: 'Lexend';
   color: white;
 }
 .search-bar::-webkit-search-cancel-button {
   display: none;
 }

 .search-bar:focus {
     outline: none;
 }

.ask-question-button {
  margin-left: calc(100vw - 345px);
  height: 20px;
  width: 124px;
  background-color: var(--ask-question-button);
  position: absolute;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease-in-out;
}

.ask-question-button:hover {
  transform: scale(1.06);
}



@media only screen and (max-width: 740px) {

  .login-button {
    display: none;
  }

  .signup-button {
    display: none;
  }

  .search-bar {
     margin-right: 18px;
     width: 200px;
 }

 .ask-question-button {
      left: 197px;
 }

}
