.questions_list {/*scroll area with questions. It is invisible*/
       overflow-y: scroll;
       overflow-x: hidden;
       max-height: calc(100vh - 215px);
       width: 1000px;
       margin: auto;
       margin-top: 15px;
       transform: translateX(var(--translate_len));
       scrollbar-color: var(--text-box-bar-color) var(--background-color);
    }

.questions_list::-webkit-scrollbar {/*custom scroll bar width*/
   width: 13px; /* Adjust the width as needed */
}

.questions_list::-webkit-scrollbar-thumb {/*custom scroll bar thumb(the scrolling thing)*/
   width: 12px; /* Set the width of the thumb to 12px */
   min-width: 12px; /* Ensure the minimum width of the thumb */
   background-color: var(--text-box-bar-color);
   border-radius: 2px;
}

 .box {
   background-color: var(--primary-color);
   border-radius: 22px;
 }

.text_box {/*question subclass of box*/
  height: 120px;
  margin-bottom: 15px;
  margin-right: 10px;
 position: relative;
}

#text_box_pfp {
  height: 50px;
  margin-top: 15px;
  margin-left: 15px;
  cursor: pointer;
}

#text_box_question_content {
      position: absolute;
      top: 15px;
      left: 77px;
      font-size: 20px;
      color: var(--text-color);
      cursor: pointer;
      max-width: 40vw;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; /* Adds ellipsis for overflowed text */
    }


#asked_by_line {
    position: absolute;
    top: 47px;
    left: 77px;
    color: var(--text-color);
    font-size: 13px;
}

#asked_by_line:hover {
    text-decoration: underline;
    cursor: pointer
}

#answered_by_line {
    color: var(--text-color);
    font-size: 14px;
    margin-top: 13px;
    margin-left: 25px;
}

.question_stats {
    position: absolute;
    color: var(--text-color);
    font-size: 17px;
    right: 25px;
    top: 5px;
    text-align: right;
}

#question_stats_items {
    position: relative;
    margin-top: 10px;
}

.question_header { /*divider based on subject*/
   color: var(--text-color);
   padding-left: 7px;
   padding-top: 4px;
   height: 25px;
   margin-right: 215px;
   background-color: var(--text-box-bar-color);
   border: 1.5px solid var(--border-color);
   width: calc(1000px - 10px);
   margin: auto;
   margin-top: 15px;
   transform: translateX(var(--translate_len));
}
#text_box_question_content:hover {
  text-decoration: underline;
  /* text-decoration-color: var(--secondary-color);
  text-underline-offset: 0.2em;
  text-decoration-thickness: 3px; */
}

#asked_by_line:hover {
  text-decoration: underline;
  /* text-decoration-color: var(--secondary-color);
  text-underline-offset: 0.2em;
  text-decoration-thickness: 3px; */
}
@media only screen and (max-width: 1400px) {

   .question_header {
        width: calc(100% - 410px);
        margin-left: 200px;
   }

  .questions_list {
        width: calc(100% - 400px);
        margin-left: 200px;
  }
  #text_box_question_content{
    max-width: 70%;
  }
}


@media only screen and (max-width: 1000px) {

   .question_header {
        width: calc(100% - 235px);
        margin-right: 20px;
 }

  .questions_list {
        width: calc(100% - 225px);
        margin-right: 20px;
    }
    #text_box_question_content{
      max-width: 70%;
    }
}


@media only screen and (max-width: 800px) {

 .question_header {
     width: calc(100% - 60px);
     margin-left: 125px;
     margin-top: 65px;
 }

  .questions_list {
    width: calc(100% - 45px);
    margin:auto;
    margin-left: 130px;
    margin-top: 20px;
    max-height: 100%;
    overflow: hidden;
    padding-right: 0;
    margin-bottom: 10px;
  }
  .question-title-column{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: -55px;
    margin-left: 77px;
  }
   .text_box{ 
    box-sizing: content-box;
    height: auto;
    min-height: 100px;
  
    /* padding-bottom: 10px; */
  }
  #answered_by_line{
    color: var(--text-color);
      font-size: 14px;
      margin-top: 15px;
      margin-left: -60px;
      padding-bottom: 15px;
  }
  .question_stats{
    font-size: 15px;
  }
  #asked_by_line{
    position: static;
    font-size: 15px;
    padding-top: 7px;
    max-width: 45%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 0px;
  }
  #text_box_question_content {
    position: static;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* Number of lines to show */
    text-overflow: ellipsis;
    max-width: 50%; /* Adds ellipsis for overflowed text */
    white-space: wrap;
    overflow: wrap;
    font-size: 17px;
    top: -10;
  }
  
  #text_box_question_content{
    max-width: calc(100% - 180px);
  }
}